rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email in [
        "brandtnet123@gmail.com",
        "namoeller16@gmail.com",
        "brandtnet1@yahoo.com"
      ];
    }

    match /rsvps/{id} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }

    match /guestbook/{id} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }

    match /saveTheDates/{id} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }
  }
}
